section#stats > div > h1 {
  display: block;
  margin-top: auto;
  margin-bottom: 1rem;
  font-size: 2em;
}

section#stats > div > div.description {
  font-size: 1em;
}

section#stats > div > div.site-data {
  margin: 0.5rem 0;
}

a, a:visited, a:link, a:active {
  color: #0e70c0;
  text-decoration: none;
}
