<section id="projects">
  <div class="project">
    <div>
      <h1>Graig Fatha
        <a href="https://www.google.com/maps/place/Graig+Fatha+Wind+Farm/@51.5620376,-3.4539043,624m/data=!3m2!1e3!4b1!4m6!3m5!1s0x486e15df2d34d83b:0xac0a5bf10333b675!8m2!3d51.5620343!4d-3.4513294!16s%2Fg%2F11jdzd9bl3?entry=ttu&g_ep=EgoyMDI1MDQwMi4xIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D" target="_blank">
          <mat-icon aria-hidden="false" aria-label="Graig Fatha Map" fontIcon="map"></mat-icon>
        </a>
      </h1>
      <div>Your ownership: 0.532 kW</div>
      <div>Last month's savings: £12.68</div>
    </div>
  </div>
  <div class="project">
    <div>
      <h1>Kirk Hill
        <a href="https://www.google.com/maps/place/Kirk+Hill+Windfarm/@55.3075026,-4.7395864,571m/data=!3m2!1e3!4b1!4m6!3m5!1s0x4862712bb5eb99b7:0xea9eb190c1b8758c!8m2!3d55.3074996!4d-4.7370115!16s%2Fg%2F11t4m6g41k?entry=ttu&g_ep=EgoyMDI1MDQwMi4xIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D" target="_blank">
          <mat-icon aria-hidden="false" aria-label="Kirk Hill Map" fontIcon="map"></mat-icon>
        </a>
      </h1>
      <div>Your ownership: 0.760 kW</div>
      <div>Last month's savings: £16.56</div>
    </div>
  </div>
</section>
