.container {
  padding: 2rem;

  h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 500;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;

    mat-form-field {
      width: 100%;
    }

    button {
      margin-top: 1rem;
    }
  }
}
